<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>
</head>
<body id="cas" class="fl-theme-iphone">
	<div id="main_content_parent">
		<div id="main_content" class="fl-screenNavigator-view">
			<div id="content" class="fl-screenNavigator-scroll-container">
				<div id="header"
					class="flc-screenNavigator-navbar fl-navbar fl-table">
					<h1 id="app-name" class="fl-table-cell" th:text="#{site.title}"></h1>
				</div>
				<div class="box fl-panel" id="login">
					<div id="fm1" class="fm-v clearfix">
						<div id="login_form">
							<h2 th:text="#{site.formTitle}"></h2>
							<div class="row fl-controls-left">
								<label for="edCodeSite" class="fl-label"
									th:text="#{site.code}"></label> <input
									id="edCodeSite" name="edCodeSite" class="required"
									tabindex="1" type="text" />
							</div>
							<div class="row fl-controls-left">
								<label for="edLibelleSite" th:text="#{site.libelle}"></label> <input
									id="edLibelleSite" name="edLibelleSite" type="text" />
							</div>
							<div class="row btn-row">
								<input id="btn-submit" class="btn-submit" name="btn-submit" accesskey="1"
									type="submit" th:value="#{site.submit}" /> <input
									class="btn-reset" name="_eventId" accesskey="2" type="reset"
									th:value="#{site.cancel}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dialog" th:title="#{site.titleConfirmText}">
		<p th:text="#{site.confirmText}"></p>
		<a id="lCodeSite" href=""><p id="pIdSite"></p></a>
	</div>
</body>
<script>
$(function(){

	var site = {};

	$("#dialog").dialog({
		autoOpen: false,
		modal: true,
	} );

	$('#btn-submit').click(function() {
		$.ajax({
			headers: {
			    'Accept': 'application/json',
			    'Content-Type': 'application/json'
			},
			type: 'POST',
			url: 'sites',
			data: JSON.stringify({ code : $('#edCodeSite').val(), libelle : $('#edLibelleSite').val(), }),
			timeout: 3000,
			dataType: 'json',
			contentType:'application/json',
			success: function(data) {
				site = data;
				$('#lCodeSite').attr('href', 'http://localhost:8080/sites/' +site.code);
				$('#pIdSite').text(site.id);
				$('#dialog').dialog('open');
			},
			error: function() {
				alert('La requête n\'a pas abouti');
			}
		});
	});
});
</script>

</html>